
  <div class="kScrumDefTitle">
    <h1>What Scrum Is</h1>
  </div>


  <div class="kDisplay">
    <div class="kStyleH4">
      <h5>A framework within which people can address complex adaptive problems, while productively and creatively delivering products of the highest possible value.</h5>
      <h4>Lightweight, simple to understand, difficult to master</h4>
    </div>

    <h2 class="kRoles">Roles</h2>
    <dl class="kDL">
      <dt>Product Owner</dt>
      <dt>Scrum Master</dt>
      <dt>Development Team</dt>
    </dl>
    <h2 class="kArtifacts">Artifacts</h2>
    <dl class="kDL">
      <dt>Product Backlog</dt>
      <dt>Sprint Backlog</dt>
      <dt>Increment</dt>
    </dl>
    <h2 class="kEvents">Events or Ceromonies</h2>
      <dl class="kDL">
        <dt>Sprint</dt>
        <dt>Sprint Planning</dt>
        <dt>Daily Scrum</dt>
        <dt>Sprint Review</dt>
        <dt>Sprint Retrospective</dt>
      </dl>
  </div>



