.multi-inputs{
  display: flex;
  flex-direction: column;
}
table{
  width: 60%;
  padding: 40 40 0 40 !important;

 }

.kTTitle {
  width: 60%;
  margin-left: 200px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:rgb(251, 235, 8);
  background-color: #424343;
}
/*Angular Material : Surcharge des classes natives, mat-table & ses composants customisés*/
.mat-table{
  width: 60% !important;
  box-sizing: border-box !important;
  text-size-adjust: 12px !important;
  background-color: grey !important;
  margin-left: 200px !important;
  margin-right: 25px !important;
}

.mat-row{
  text-align: justify !important;
}

.mat-header-row{
  background: #424343 !important;
  height: 40px !important;
}

.mat-header-cell{
  align-self: center !important;
  text-align: center !important;
  font-size: 12px !important;
  color: rgb(251, 235, 8) !important;
  font-weight: normal ;
  background: #424343 !important;
}

.mat-column-label {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 45% !important;
  width: 45% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  align-self: center !important;
  text-align: left !important;

  font-size: auto !important;
}



.mat-column-action {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 40% !important;
  width: 40% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  align-self: center !important;
  text-align: center !important;
  font-size: 12px !important;
}

/* Bootstrap Classes: Surcharge Boutons actions */
.kEditT {
  background-color: rgb(221, 209, 47) !important;
  border-color:rgb(183, 196, 1) !important;
  /* size: 10px !important; */
  text-align: center !important;
  font-size: 9px !important;
  width: 50px !important;
  margin-right: 25px !important;
  margin-left: 50px !important;

}
.kEditT:hover {
  background-color: rgb(238, 255, 0)!important;
}


.kDeleteT {
  /*background-color: #d4000b !important;
  border-color: #ff2727 !important;
  */
  background-color: rgb(157, 168, 2);
  border-color: rgb(177, 180, 10) !important;
  /* size: 10px !important; */
  text-align: center !important;
  font-size: 9px !important;
  margin-left: 20px !important;
  width: 60px !important;
}

.kDeleteT:hover{
  background-color: rgb(199, 212, 8) !important;
}

.kNewT {
  background-color: rgb(228, 225, 52) !important;
  border-color: rgb(204, 201, 44) !important;
  /* size: 10px !important; */
  text-align: center !important;
  color: rgb(54, 52, 39) !important;
  font-size: 18px !important;
  align-content: unset !important;
  padding: 40 20 20 20 !important;
  margin-left: 200px !important;
  margin-bottom: 20px !important;
  width: 128px !important;
  position: relative !important;
  /* left: 20px !important; */
}

.kNewT:hover {
  background-color: rgb(255, 251, 0) !important;
}


.kBtnNew{
  font-size: 20px;
  padding-right: 10px;
}
