
  <h1 class="kWelcomeTitle"> Welcome to The Map! </h1>


  <div class="kDisplayAbout">

    <h2>it's all about Scrum</h2>
    <h2>... & Agility</h2>

    <p>By now, only services like listing, creating, updating etc  Projects, User Stories, Roles are available.</p>
    <ul>In next weeks, many aothers tools and services  will be developped like :
      <li>  Tasks,</li>
      <li>  Personas Map,</li>
      <li>  Alike Kanban for Projects Monitoring,</li>
      <li>  Estimation Tools,</li>
      <li>  Making Decisions Helper,</li>
      <li>  Agile Games & Exercices,</li>
      <li>  and many others...</li>
    </ul>
    <p>in order to give agile tools to...anyone</p>
    <p>so many to come...</p>
  </div>
    <br>
    <br>


