


.kDisplayAbout{
  width: 60%;
  text-align: center;
  background-color: #424343;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 200px;
  margin-top: 20px;
  /* padding-left: 40px;
  padding-top: 60px; */
}


.kWelcomeTitle {

  width: 60%;
  margin-bottom: 40px;
  margin-top: 40px;
  margin-left: 200px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:white;
  background-color: #424343;

}
