


.kDisplayAbout{
  width: 60%;
  text-align: center;
  background-color: #424343;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 200px;
  padding-left: 40px;
  padding-top: 60px;
}
