<div>

  <h1 class="kDepartmentTitle">Departments</h1>

</div>


<div *ngIf="isLoading" class="spinner-grow kSpinner" role="status">
  <span class="sr-only">Loading...</span>
</div>

<div>
  <a class="btn btn-outline-success kNewDptmt" (click) = "Add()">
  <i class="fa fa-plus-square kBtnNew"></i>New</a>
</div>

<mat-table [dataSource]="dataSource" class="mat-elevation-z8">

<ng-container matColumnDef="label">
<th mat-header-cell *matHeaderCellDef width ="15%">Label</th>
<mat-cell *matCellDef="let element"> {{element.label}} </mat-cell>
</ng-container>


<ng-container matColumnDef="action">
<th mat-header-cell *matHeaderCellDef>Action</th>
  <mat-cell *matCellDef="let element">
    <button class="btn btn-success kEditDptmt" (click)="edit(element)" style="margin-left: 20px;">Edit</button>
    <button class="btn btn-success kDeleteDptmt" (click)="delete(element)" style="margin-left: 20px;">Delete</button>
  </mat-cell>
</ng-container>

<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>


<div class="multi-inputs" >

</div>

