.multi-inputs{
  display: flex;
  flex-direction: column;
}
table{
  width: 70%;
  padding: 40 40 0 40 !important;
 }

.kProjectTitles {
  width: 90%;
  margin-left: 40px;
  margin-top: 20px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #7e23f5;
  background-color: #424343;

}

/*Angular Material : Surcharge des classes natives, mat-table & ses composants customisés*/
.mat-table{
  width: 90% !important;
  box-sizing: border-box !important;
  text-size-adjust: auto !important;
  background-color: grey !important;
  margin-left: 40px !important;
  margin-right: 25px !important;
  margin-bottom: 40px;
}

.mat-row{
  text-align: justify !important;
}

.mat-header-row{
  background: #424343 !important;
  height: 40px !important;
}

.mat-header-cell{
  align-self: center !important;
  text-align: center !important;
  font-size: 12px !important;
  color: #7e23f5 !important;
  font-weight: normal ;
  background: #424343 !important;
}

.mat-column-label {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 15% !important;
  width: 15% !important;
  overflow-wrap: break-word;

  align-self: center !important;
  text-align: justify !important;
  font-size: 12px !important;

  word-break: break-word;
}

.mat-column-scrumMaster {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 15% !important;
  width: 15% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  align-self: center !important;
  text-align: left !important;

  font-size: 12px !important;
}

.mat-column-productOwner {
  word-wrap: break-word !important;
  white-space: normal !important;
  flex: 0 0 15% !important;
  width: 15% !important;
  overflow-wrap: break-word;

  word-break: break-word;

  align-self: center !important;
  text-align: left !important;
  font-size: 12px !important;
}

.mat-column-team {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 15% !important;
  width: 15% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  align-self: left !important;
  text-align: justify !important;
  font-size: 12px !important;
}


.mat-column-department {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 15% !important;
  width: 15% !important;
  overflow-wrap: break-word;


  word-break: break-word;

  align-self: center !important;
  text-align: justify !important;
  font-size: 12px !important;

}




.mat-column-action {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 30% !important;
  width: 30% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  align-self: center !important;
  text-align: center !important;
  font-size: 12px !important;
}

/* Bootstrap Classes: Surcharge Boutons actions */
.kEdit {
  background-color: #7e23f5 !important;
  border-color: #5618a8 !important;
  /* size: 10px !important; */
  text-align: center !important;
  font-size: 9px !important;
  width: 50px !important;
  margin-right: 25px !important;
  margin-left: 50px !important;

}
.kEdit:hover {
  background-color: #8d35ff !important;
}


.kDelete {
  /*background-color: #d4000b !important;
  border-color: #ff2727 !important;
  */
  background-color: rgb(58, 23, 75);
  border-color: rgb(44, 18, 58) !important;
  /* size: 10px !important; */
  text-align: center !important;
  font-size: 9px !important;
  margin-left: 20px !important;
  width: 60px !important;
}

.kDelete:hover{
  background-color: rgb(88, 39, 112)!important;
}

.kNew {
  background-color: #5717aa  !important;
  border-color: #7e23f5 !important;
  /* size: 10px !important; */
  text-align: center !important;
  color: white !important;
  font-size: 18px !important;
  align-content: unset !important;
  padding: 40 20 20 20 !important;
  margin-left: 40px !important;
  margin-bottom: 10px !important;
  width: 128px !important;
  position: relative !important;
  /* left: 20px !important; */

}

.kNew:hover {
  background-color:  #7e23f5 !important;
}


.kBtnNew{
  font-size: 20px;
  padding-right: 10px;
}
