body {
  padding-top: 5rem;
  text-align: center;
  background-color: #E6E6E6;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(61, 60, 60);
  font-weight: 400;
}

.navbar {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
  background-color:  black !important;
}
