.kProjectDetailTitle {
  width: 80%;
  margin-left: 60px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:#7e23f5;
  background-color: #424343;
}


.kProjectDetailForm {
  width: 80%;

  display: block !important;
  background-color: grey !important;
  margin-left: 60px !important;
  margin-right: 60px !important;
  color: white !important;

}

.kLabelProjectDetail {
  align-self: center !important;
  color: #7e23f5 !important;
  font-size: large !important;
  font-weight: normal !important;

}



.kSaveProject{
  background-color:  #6706a8;
  border-color:  #450370!important;
  text-align: center !important;
  color: white !important;
  font-weight: bold;
  font-size: 18px !important;
  margin-left: 280px !important;
  margin-right: 40px;
  margin-top: 40px;
  width: 196px;
}

.kSaveProject:hover{
  background-color: #7e23f5;
}

.kBckProjectList {
  background-color: #480475;
  border-color: #350357 !important;
   text-align: center !important;
   color: white !important;
   font-weight: bold;
   font-size: 18px !important;
   margin-left: 40px !important;
   margin-right: 40px;
   margin-top: 40px;
   width: 196px;
}

.kBckProjectList:hover {
  background-color: #58058f;
}


.kSpinner{
  color: #7e23f5 !important;
  text-align: center !important;
  width: 4rem;
  height: 4rem;
  display: inline-flex;
  justify-content: center;
  /* margin-left: 400px;
  margin-bottom: 20px;*/

}


