
<div>
  <br/>
    <h1 class="kProjectDetailTitle">Project Detail</h1>
  <br/>
</div>

<div>

<form  [formGroup]="form" (ngSubmit)="onSubmit()">
  <input type="hidden" formControlName="id">
  <input type="hidden" formControlName="dateCreation">
  <input type="hidden" formControlName="dateModification">
  <input type="hidden" formControlName="isDeleted">

  <mat-form-field class="kProjectDetailForm">
    <mat-label class="kLabelProjectDetail">Label</mat-label>
    <input matInput formControlName="label">
  </mat-form-field>



  <mat-form-field class="kProjectDetailForm">
    <mat-label class="kLabelProjectDetail">Scrum Master</mat-label>
    <mat-select formControlName="scrumMasterId" >
      <mat-option >
        Choose your Scrum Master
      </mat-option>

      <mat-option *ngFor="let item of scrumMasters" [value]="item.id">
        {{item.fullName}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="kProjectDetailForm">
    <mat-label class="kLabelProjectDetail">Product Owner</mat-label>
    <mat-select formControlName="productOwnerId" >
      <mat-option >
        Choose your Product Owner
      </mat-option>

      <mat-option *ngFor="let item of productOwners" [value]="item.id">
        {{item.fullName}}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field class="kProjectDetailForm">
    <mat-label class="kLabelProjectDetail">Team</mat-label>
    <mat-select formControlName="teamId">
      <mat-option >
        Choose your Team
      </mat-option>

      <mat-option *ngFor="let team of teams" [value]="team.id">
        {{team.label}}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field class="kProjectDetailForm">
    <mat-label class="kLabelProjectDetail">Department</mat-label>
    <mat-select formControlName="departmentId">
      <mat-option >
        departmentid Choice
      </mat-option>

      <mat-option *ngFor="let dpt of departments" [value]="dpt.id">
        {{dpt.label}}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field class="kProjectDetailForm">
    <mat-label class="kLabelProjectDetail">Status</mat-label>
    <mat-select formControlName="projectStatus">
      <mat-option >
        Status Choice
      </mat-option>

      <mat-option *ngFor="let item of projectStatuses" [value]="item.id">
        {{item.libelle}}
      </mat-option>
    </mat-select>
  </mat-form-field>




  <div class="row">
    <button type="submit" class="btn btn-dark kSaveProject"><i class="fa fa-database"></i>Save</button>
    <button type="button" class="btn btn-outline-dark ml-1 kBckProjectList" routerLink="/project" ><i class="fa fa-close"></i>Cancel</button>
  </div>
</form>
</div>



