


  <body class="kDisplay">

  <div>
    <h1 class="manifestoStyle">Agile Manifesto</h1>
    <p class="largeFont">Individuals and interactions</p>
    <p class="smallFont">over processeses & tools</p>
    <p class="largeFont">Working software</p>
    <p class="smallFont">over comprehensive documentation</p>
    <p class="largeFont">Customer collaboration</p>
    <p class="smallFont">&#123;over contractnegotiation&#125;</p>
    <p class="largeFont">Responding to change</p>
    <p class="smallFont">over following a plan&#125;</p>
    <p  class="smallFont">That is, while there is value in the items on
        the bottom, we value the items on the top more.</p>
  </div>

</body>



