.kDPTDetailTitle {
  width: 60%;
  margin-left: 200px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #9c08ff;
  background-color: #424343;
}


.kDPTDetailForm {
  width: 60%;

  display: block !important;
  background-color: grey !important;
  margin-left: 200px !important;
  margin-right: 60px !important;
  color: white !important;

}

.kLabelDPTDetail {
  align-self: center !important;
  color: #9c08ff !important;
  font-size: x-large !important;
  font-weight: normal !important;
  outline: #9c08ff !important;
}


.kSaveDPT{
  background-color: #9c08ff;
  border-color: #6706a8 !important;
  text-align: center !important;
  color: white !important;
  font-weight: bold;
  font-size: 18px !important;
  margin-left: 280px !important;
  margin-right: 40px;
  margin-top: 40px;
  width: 196px;
}

.kSaveDPT:hover{
  background-color: #6706a8;
}

.kBckDPTList {
  background-color: #480475;
  border-color: #350357 !important;
   text-align: center !important;
   color: white !important;
   font-weight: bold;
   font-size: 18px !important;
   margin-left: 40px !important;
   margin-right: 40px;
   margin-top: 40px;
   width: 196px;
}

.kBckDPTList:hover {
  background-color: #58058f;
}
