
.example-full-width {
  width: 100%;
}

.kTitleUSDetail{
  width: 80% !important;
  text-align: center;
  background-color: #424343;
  margin-left: 60px !important;
  margin-right: 60px !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

.usDetailForm {
  width: 80%;

  display: block !important;
  background-color: grey !important;
  margin-left: 60px !important;
  margin-right: 60px !important;
  color: white !important;

}

.kRadioGroup {
  width: 80% !important;
  align-self: start !important;
  color: white !important;
  font-size: large !important;
  font-weight: normal !important;
  background-color: rgb(128, 128, 128) !important;
  display: flex; flex-direction: column;
  margin-left: 60px !important;
}

.kLabelUSDetail {
  align-self: center !important;
  color: rgb(63, 182, 218) !important;
  font-size: large !important;
  font-weight: normal !important;
  outline: lawngreen !important;
}

.kEpicLabel {
  width: 100%;
  margin-left: 60px !important;
  color: rgb(63, 182, 218) !important;
  font-size: large !important;
  font-weight: normal !important;
  background-color: grey !important;
}


.kSaveUS{
  background-color:rgb(2, 125, 146);
  border-color: rgb(8, 180, 211) !important;
  text-align: center !important;
  color: white !important;
  font-weight: bold;
  font-size: 18px !important;
  margin-left: 280px !important;
  margin-right: 40px;
  width: 196px;
}

.kSaveUS:hover{
  background-color: rgb(12, 198, 231);
}

.kBckUSList {
  background-color: rgb(64, 90, 124);
  border-color: #3688d4 !important;
   text-align: center !important;
   color: white !important;
   font-weight: bold;
   font-size: 18px !important;
   margin-left: 40px !important;
   margin-right: 40px;
   width: 196px;
}

.kBckUSList:hover {
  background-color: #3688d4;
}
