
.example-full-width {
  width: 100%;
}

.kTitleUSDetail{
  width: 80% !important;
  text-align: center;
  background-color: #424343;
  margin-left: 90px !important;
  margin-right: 60px !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #07bcf3;
}

.usDetailForm {
  width: 80%;

  display: block !important;
  background-color: grey !important;
  margin-left: 90px !important;
  margin-right: 60px !important;
  color: white !important;

}

.usStatus{
  margin-left: auto;
  width: 80%;

  display: block !important;
  background-color: grey !important;
  margin-right: 60px !important;
  color: white !important;
}

.kRadioGroup {
  width: 80% !important;
  align-self: start !important;
  color: white !important;
  font-size: large !important;
  font-weight: normal !important;
  background-color: rgb(128, 128, 128) !important;
  display: flex; flex-direction: column;
  margin-left: 90px !important;
}

.kLabelUSDetail {
  align-self: center !important;
  color: rgb(63, 182, 218) !important;
  font-size: large !important;
  font-weight: normal !important;
  outline: lawngreen !important;
}

.kEpicLabel {
  width: 100%;
  margin-left: 90px !important;
  color: rgb(63, 182, 218) !important;
  font-size: large !important;
  font-weight: normal !important;
  background-color: grey !important;
}


.kSaveUS{
  background-color:#07bcf3;
  border-color: #17aedb !important;
  text-align: center !important;
  color: white !important;
  font-weight: bold;
  font-size: 18px !important;
  margin-left: 280px !important;
  margin-right: 40px;
  width: 196px;
}

.kSaveUS:hover{
  background-color: #41d3ff;
}

.kBckUSList {
  background-color: #03303d;
  border-color: #065970 !important;
   text-align: center !important;
   color: white !important;
   font-weight: bold;
   font-size: 18px !important;
   margin-left: 40px !important;
   margin-right: 40px;
   width: 196px;
}

.kBckUSList:hover {
  background-color: #3688d4;
}


.kSpinner{
  color: #07bcf3 !important;
  text-align: center !important;
  width: 4rem;
  height: 4rem;
  display: inline-flex;
  justify-content: center;
  /* margin-left: 400px;
  margin-bottom: 20px;*/

}
