/*mise en forme de la page User Story List */
.titleUSList {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:white;
  background-color: #424343;
  margin-top: 20px;

}
.kForm {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  background-color: #424343;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  padding-left: 20px;
}

table{
  width: 70%;
  padding: 40 40 0 40 !important;
}

/*Angular Material : Surcharge des classes natives, mat-table & ses composants customisés*/
.mat-table{
  width: 100% !important;
  box-sizing: border-box !important;
  text-size-adjust: auto !important;
  background-color: grey !important;

}

.mat-row{
  text-align: center !important;
}

.mat-header-row{
  background: #424343 !important;
  height: 40px !important;
}

.mat-header-cell{
  /* align-self: left !important;
  text-align: left !important; */
  font-size: 12px !important;
  color:  #07bcf3 !important;
  font-weight: normal ;
  background: #424343 !important;

}
.mat-column-version {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 8% !important;
  width: 8% !important;
  overflow-wrap: break-word;

  align-self: left !important;
  text-align: left !important;
  font-size: 12px !important;

  word-break: break-word;
}

.mat-column-projet {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 18% !important;
  width: 18% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  /* align-self: justify !important;
  text-align: left !important;*/

  font-size: 12px !important;


}


.mat-column-role {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 20% !important;
  width: 20% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  /* align-self: justify !important;
  text-align: left !important;*/
  font-size: 12px !important;


}


.mat-column-priority {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  overflow-wrap: break-word;


  word-break: break-word;

  /* align-self: justify !important;
  text-align: justify !important; */
  font-size: 12px !important;

}

.mat-column-storyPoints {
  word-wrap: break-word !important;
  white-space: normal !important;
  flex: 0 0 7% !important;
  width: 7% !important;
  overflow-wrap: break-word;


  word-break: break-word;

  /* align-self: justify !important;
  text-align: justify !important; */
  font-size: auto !important;



}

.mat-column-epicStory {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 8% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;


  /* align-self: justify !important;
  text-align: justify !important; */
  font-size: 12px !important;
  word-break: break-word;

}

.mat-column-action {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 20% !important;
  width: 20% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  /* align-self: justify !important;
  text-align: right !important; */
  font-size: 12px !important;




}


/* Bootstrap Classes: Surcharge Boutons actions */
.kEdit {
  background-color: #03aadd !important;
  border-color:#00ffff !important;
  /* size: 10px !important; */
  text-align: center !important;
  font-size: 9px !important;
  width: 50px !important;
  margin-right: 25px !important;
  margin-left: 20px !important;

}
.kEdit:hover {
  background-color: #01c4ff !important;
}


.kDelete {
  /*background-color: #d4000b !important;
  border-color: #ff2727 !important;
  */
  background-color: rgb(30, 49, 73);
  border-color: rgb(30, 45, 73) !important;
  /* size: 10px !important; */
  text-align: center !important;
  font-size: 9px !important;
  margin-left: 20px !important;
  width: 60px !important;
}

.kDelete:hover{
  background-color: #fd4128 !important;
}

.kNew {
  background-color: #0089b3 !important;
  border-color: #1465b1 !important;
  /* size: 10px !important; */
  text-align: center !important;
  color: white !important;
  font-size: 18px !important;
  align-content: unset !important;
  padding: 20 20 20 20 !important;
  /* margin-left: 60px !important; */
  margin-bottom: 10px !important;
  width: 128px !important;
  position: relative !important;
  /* left: 20px !important; */
}

.kNew:hover {
  background-color: #05a3ff !important;
}


.kBtnNew{
  font-size: 20px;
  padding-right: 10px;
}
