/* You can add global styles to this file, and also import other style files */
@import '~ngx-toasta/styles/style-bootstrap.css';

html, body {
  font-family: Roboto, "Verdana", sans-serif;
  background-color: white !important;
}
/*
body { margin: 10px; font-family: Roboto, "Verdana", sans-serif; }
*/

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 0 !important;
}

/* ink bar style */
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
  background: white;
  height: 4px;
}

.mat-focused .mat-form-field-underline .mat-form-field-ripple{
  background: #ffffff; }

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: white;
}
/* .cdk-overlay-pane{
  background-color: white !important;
} */

#toasta.toasta-position-top-right {
  top: 20px;
  right: 20px;
}

#toasta .toast.toasta-theme-bootstrap {
  font-size: 0.9em;
}

#toasta .toast.toasta-theme-bootstrap .toast-text .toast-title {
  font-size: 1.02em;
}

#toasta .toast-text .toast-msg {
  max-width: 1000px;
  max-height: 800px;
  display: inline-block;
  overflow: auto;
}


#toast-container > div {
  opacity:1;
}

table{
  width: 70%;
  padding: 40 40 40 40 !important;
}

.kTitles{
  width: 80% !important;

  text-align: center;

  background-color: #424343;
  padding: 40 40 40 40 !important;

  margin-left: 60px !important;
  margin-right: 60px !important;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

.kMenuTitle {
  background-color: white;
  color: #424343;
}

.kForm {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /*
  color: white;
  background-color: #424343;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  padding-left: 20px;
  */
}


.mat-elevation-z8{
  padding-right: 5px !important;
}


.smallCol{
  font-size: 12px;
  color: white;
}

.mediumCol{
  font-size: 10px;
}

.largeCol{
  font-size: 10px;
}

.xLargeCol{
  font-size: 10px;
}

.example-full-width {
  width: 100%;
}
