
<div>
  <br/>
  <br/>
  <br/>
  <br/>
  <h1>Quotes</h1>
</div>
<br/>

<div class="kCaroussel">
  <mat-carousel style="max-height: 800px !important;"
    timings="250ms ease-in"
    [autoplay]="true"
    interval="5000"
    color="accent"
    maxWidth="auto"

    maxHeight="100%"
    maintainAspectRatio="false"
    proportion="68"



    slides="9"
    [loop]="true"
    [hideArrows]="false"
    [hideIndicators]="false"
    [useKeyboard]="true"
    [useMouseWheel]="false"
    orientation="ltr"

    [style.height]="!maintainAspectRatio ? '100%' : '800px'"

  >
    <mat-carousel-slide
      #matCarouselSlide
      *ngFor="let slide of slides; let i = index"
      [image]="slide.image"

      [style.height]="!maintainAspectRatio && slideHeight ? slideHeight : '800px'"

      overlayColor="#00000040"
      [hideOverlay]="false"
    >

    </mat-carousel-slide>

  </mat-carousel>


</div>





