
<div>
  <br/>
  <br/>
  <h1 class="kQuotesTitle">Quotes</h1>
</div>


<div class="kCaroussel">
  <mat-carousel
    timings="250ms ease-in"
    [autoplay]="true"
    interval="5000"
    color="accent"
    maxWidth="600px"

    maintainAspectRatio="true"
    proportion="77"



    slides="44"
    [loop]="true"
    [hideArrows]="false"
    [hideIndicators]="true"
    [useKeyboard]="true"
    [useMouseWheel]="false"
    orientation="ltr"

    [style.height]="!maintainAspectRatio ? '100%' : '600px'"

  >
    <mat-carousel-slide
      #matCarouselSlide
      *ngFor="let slide of slides; let i = index"
      [image]="slide.image"

      [style.height]="!maintainAspectRatio && slideHeight ? slideHeight : '800px'"

      overlayColor="#00000000"
      [hideOverlay]="false"
    >

    </mat-carousel-slide>

  </mat-carousel>


</div>





