.multi-inputs{
  display: flex;
  flex-direction: column;
}
table{
  width: 60%;
  padding: 40 40 0 40 !important;
 }

/*Angular Material : Surcharge des classes natives, mat-table & ses composants customisés*/
.mat-table{
  width: 60% !important;
  box-sizing: border-box !important;
  text-size-adjust: 12px !important;
  background-color: grey !important;
  margin-left: 200px !important;
  margin-right: 25px !important;
  margin-bottom: 40px;
}

.mat-row{
  text-align: justify !important;

}

.mat-header-row{
  background: #424343 !important;
  height: 40px !important;

}

.mat-header-cell{
  align-self: center !important;
  text-align: left !important;
  font-size: 12px !important;
  color: rgb(251, 118, 8) !important;
  font-weight: normal ;
  background: #424343 !important;
}

.mat-column-firstname {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 30% !important;
  width: 30% !important;
  overflow-wrap: break-word;


  text-align: justify !important;
  font-size: auto !important;

  word-break: break-word;
}

.mat-column-lastName {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 35% !important;
  width: 35% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  align-self: left !important;
  text-align: justify !important;

  font-size: auto !important;
}



.mat-column-actionSM {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 35% !important;
  width: 35% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  align-self: center !important;
  text-align: center !important;
  font-size: 12px !important;
}



.kSMTitle {
  width: 60%;
  margin-left: 200px;
  margin-top: 20px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:rgb(251, 118, 8);
  background-color: #424343;
}

/* Bootstrap Classes: Surcharge Boutons actions */
.kEditSM {
  background-color: rgb(195, 118, 16) !important;
  border-color:rgb(255, 145, 0) !important;
  /* size: 10px !important; */
  text-align: center !important;
  font-size: 9px !important;
  width: 50px !important;
  margin-right: 25px !important;
  margin-left: 10px !important;

}
.kEditSM:hover {
  background-color: #ffbb01 !important;
}


.kDeleteSM {
  /*background-color: #d4000b !important;
  border-color: #ff2727 !important;
  */
  background-color: rgb(134, 72, 21);
  border-color: rgb(180, 115, 10) !important;
  /* size: 10px !important; */
  text-align: center !important;
  font-size: 9px !important;
  margin-left: 10px !important;
  width: 60px !important;
}

.kDeleteSM:hover{
  background-color: #fd5328 !important;
}

.kNewSM {
  background-color: rgb(251, 118, 8) !important;
  border-color: #b14614 !important;
  /* size: 10px !important; */
  text-align: center !important;
  color: white !important;
  font-size: 18px !important;
  align-content: unset !important;
  padding: 40 20 20 20 !important;
  margin-left: 200px !important;
  margin-bottom: 20px !important;
  width: 128px !important;
  position: relative !important;
  /* left: 20px !important; */
}

.kNewSM:hover {
  background-color: rgb(255, 115, 0) !important;
}


.kBtnNew{
  font-size: 20px;
  padding-right: 10px;
}



.kSpinner{
  color: rgb(251, 118, 8) !important;
  text-align: center !important;
  margin-left: 550px;
  margin-bottom: 20px;
}
